<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <h1 class="text-center mt-2">
        <span class="badge badge-pill badge-dark">Login</span>
    </h1>
    <hr class="hr-3 w-25 bg-white"/>

    <!-- Login Form -->
    <form class="mx-auto w-25 bg-blur mt-4 p-4 rounded border border-light" method="post" th:action="@{/users/login}" th:object="${login}">
        <!-- Error Message Above Username Field -->
        <div th:if="${errorMessage}" class="alert alert-danger text-center mb-3" role="alert">
            <i class="fas fa-exclamation-circle"></i>
            <span th:text="${errorMessage}"></span>
        </div>

        <!-- Username Field -->
        <div class="form-group">
            <label for="username" class="h3 mb-2 text-white">Username</label>
            <input th:field="*{username}" th:errorclass="'is-invalid'" type="text" class="form-control"
                   id="username" name="username" placeholder="Enter your username"/>
            <small class="invalid-feedback text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
        </div>

        <!-- Password Field -->
        <div class="form-group">
            <label for="password" class="h3 mb-2 text-white">Password</label>
            <input th:field="*{password}" th:errorclass="'is-invalid'" type="password" class="form-control"
                   id="password" name="password" placeholder="Enter your password"/>
            <small class="invalid-feedback text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
        </div>

        <!-- Submit Button -->
        <div class="button-holder d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </div>
    </form>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
